/*Robin Pindel
Module 12 myBioSite Landing Page Assignment
2/25/2023

References
1. Mew (pokemon) color palette image format. " Blue " SchemeColor.com. (n.d.). Retrieved March 2, 2023, from https://www.schemecolor.com/mew-pokemon-colors.php
2. How to style buttons with CSS. (n.d.). Retrieved March 2, 2023, from https://www.w3docs.com/snippets/css/how-to-style-buttons-with-css.html#:~:text=How%20to%20Style%20Buttons%20with%20CSS%201%201.,step.%20...%203%203.%20Style%20the%20hover%20state
3. Website contact form without php. GeekThis Programming Blog. (2014, June 29). Retrieved March 3, 2023, from https://geekthis.net/post/website-contact-form-without-php/ */

header, footer {
  background-color: #c19ba6;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: solid 2px #9c7491;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #efc3d2;
}

h2 {
  text-align: center;
  color: #9c7491;
  letter-spacing: 0.25em;
}

h3 {
  color: #4c7eb2;
  letter-spacing: 0.125em;
}

#container {
  margin: 2% 2% 2% 2%; /* Total of 96% width available*/
}

.hobbies, .experience, #contact {
  text-align: center;
}

.hobby-cards, .experience-cards {
  text-align: center;
  display: flex;
  justify-content: center;
}

.hobbies .card, .experience .card {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: 10px;
  background-color: #f9dbe3;
  border-radius: 10px;
  border: solid 2px #9c7491;
}

.card-title, figcaption {
  text-align: center;
  font-weight: 500;
  color: #4c7eb2;
}

#copyright {
  font-weight: 300;
}

img {
  width: 100%;
  border: solid 2px #9c7491;
  padding: 2px;
  border-radius: 10px;
}

button {
  background-color: #9c7491;
  padding: 5px 10px;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

button:hover {
  background-color: #4c7eb2;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.contact, div.button, div.copyright {
  display: inline-block;
  width: 30%;
  padding: 10px 0px;
}

.form {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: 0px auto 5px auto;
  padding: 5px 0px 5px 0px;
  background-color: #f9dbe3;
  border-radius: 10px;
  border: solid 2px #9c7491;
  display: block;
}

/*#container {
  border: 1px solid red;
}*/