/*Robin Pindel
Module 12 myBioSite Landing Page Assignment
2/25/2023*/

header, footer {
  /*background-color: #9c7491;*/
  background-color: #c19ba6;
  color: white;
  text-align: center;
  font-weight: bold;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
}

footer {
  padding-top: 10px;
  padding-bottom: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
  /*background-color: #f9dbe3;*/
  background-color: #efc3d2;
}

/*h1 {
  font-weight: 400;
}*/

h2 {
  text-align: center;
  /*color: #c19ba6;*/
  color: #9c7491;
  /*color: #4c7eb2;*/
}

h3 {
  color: #4c7eb2;
  /*color: #9c7491;*/
}

#container {
  margin: 2% 2% 2% 2%; /* Total of 96% width available*/
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  margin: 10px;
  /*background-color: #efc3d2;*/
  background-color: #f9dbe3;
}

.hobbies, .experience {
  width: 99%;
  text-align: center;
}

.hobbies .card, .experience .card {
  display: inline-block;
  vertical-align: top;
}

.card-title, figcaption {
  text-align: center;
  font-weight: 500;
  color: #4c7eb2;
}

/*.contact {
  color: white;
  font-weight: bold;
}*/

#copyright {
  /*color: #c19ba6;*/
  font-weight: 300;
}

.card-content {
  padding: 2px 16px;
}

figure {
  text-align: center;
}

figure h3 {
  text-align: center;
}

img {
  width: 100%;
  border: solid 2px #9c7491;
  padding: 2px;
}

/*#container, .hobbies, .experience, .card, header, footer, figure {
  border: solid 2px red;
}*/